<div class="row">
<li class="list-group-item">
    <div class="column emoji-class">
        <span class="image" data-customer="{{ id }}">
            <img src="src/assets/img/emojis/happySmall.png" alt="Emoji">
        </span>
    </div>
    <div class="column customer-class">
        <div>
            {{ #customer }}
                <b>{{ name }}</b>
            {{ /customer }}
            <button type="button" class="customer-serve btn btn-default btn-xs" style="float: right;" data-customer="{{ id }}">
                <span class="text-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{#l}}Earn{{/l}} {{#order}} {{ orderCost }} {{/order}}
                </span>
            </button>
        </div>
        <div>
            {{ #order.products }}
                <span class="image">
                    <img src="src/assets/img/{{ values.icon }}" alt="{{#l}}{{ name }}{{/l}}" title="{{#l}}{{ name }}{{/l}}">
                    <span class="overlay quantity-overlay text-center">
                        <strong>{{ values.quantity }}</strong>
                    </span>
                </span>
            {{ /order.products }}
        </div>
    </div>
</li>
</div>