<div class="panel panel-default">
    <div class="panel-heading">
        {{#l}}{{ name }}{{/l}}
        <button class="customer-complete btn btn-default btn-xs pull-right" data-customer="{{ id }}">
            {{#l}}Serve customer{{/l}}
        </button>
    </div>
    <div class="panel-body">
        {{ #order.products }}
            <span class="image">
                <img src="src/assets/img/{{ values.icon }}" alt="{{#l}}{{ name }}{{/l}}" title="{{#l}}{{ name }}{{/l}}">
                <span class="overlay quantity-overlay text-center">
                    <strong>{{ values.quantity }}</strong>
                </span>
            </span>
        {{ /order.products }}
    </div>
    <div class="panel-footer">
        {{#l}}Earn{{/l}} {{ order.orderCost }}
    </div>
</div>
