<li class="list-group-item list-group-item-success">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{#l}}Order has arrived{{/l}}
        </div>
        <ul class="list-group">
            {{ #products }}
                <li class="list-group-item">{{#l}}{{ name }}{{/l}} <span class="badge">{{ quantity }}</span></li>
            {{ /products }}
        </ul>
        <div class="panel-footer">
            {{#l}}Price{{/l}}: {{ orderCost }}
        </div>
    </div>
</li>
