<div class="panel panel-default">
    <div class="panel-heading">
        {{#l}}{{ name }}{{/l}}
        <span class="pull-right">
            {{#l}}Capacity used{{/l}}: {{ _usedCapacity }} / {{ capacity }}
        </span>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>{{#l}}Product{{/l}}</th>
                <th>{{#l}}Quantity{{/l}}</th>
                <th>{{#l}}Size{{/l}}</th>
                <th>{{#l}}Perishes{{/l}}</th>
            </tr>
            </thead>
            <tbody>
                {{ ^items }}
                <tr>
                    <td colspan="4" class="text-center">
                        {{#l}}This container is empty{{/l}}.
                    </td>
                </tr>
                {{ /items }}
                {{ #items }}
                <tr>
                    <td>
                        {{#l}}{{ name }}{{/l}}
                    </td>
                    <td>
                        {{ quantity }}
                    </td>
                    <td>
                        {{ size }}
                    </td>
                    <td>
                        {{ #isPerishable }}
                            {{ perishable }} {{#l}}days{{/l}}.
                        {{ /isPerishable }}
                        {{ ^isPerishable }}
                            -
                        {{ /isPerishable }}
                    </td>
                </tr>
                {{ /items }}
            </tbody>
        </table>
    </div>
</div>
