<section class="col-lg-4 col-md-6">
    <div class="panel panel-default">
        <div class="panel-body container-view">
            <div class="container-progress-bar progress">
                <div class="progress-bar progress-bar-striped" role="progressbar"
                     aria-valuenow="{{ percentage }}" aria-valuemin="0"
                     aria-valuemax="100" style="width:{{percentage}}%">
                    <span>
                        <span class="sr-only">{{#l}}Capacity used{{/l}}:</span>
                        <strong>{{ usedCapacity }}</strong> / {{ capacity }}
                    </span>
                </div>
            </div>
            <div class="product-store">
                {{ #itemsBySize }}
                    <img src="src/assets/img/{{ img }}" alt="{{ name }}">
                {{ /itemsBySize }}
                {{ ^itemsBySize }}
                    <div class="text-center">
                        {{#l}}This container is empty{{/l}}
                    </div>
                {{ /itemsBySize }}
            </div>
        </div>
    </div>
</section>

