<div class="panel panel-default">
    <div class="panel-heading">
        {{ name }}
        <span class="pull-right">
            Capacity used: {{ _usedCapacity }} / {{ capacity }}
        </span>
    </div>

    {{ ^items }}
        <div class="panel-body">
            This container is empty.
        </div>
    {{ /items }}

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Perishes</th>
            </tr>
        </thead>
        <tbody>
            {{ #items }}
                <tr>
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ quantity }}
                    </td>
                    <td>
                        {{ size }}
                    </td>
                    <td>
                        {{ #isPerishable }}
                            {{ perishable }} days
                        {{ /isPerishable }}
                        {{ ^isPerishable }}
                            -
                        {{ /isPerishable }}
                    </td>
                </tr>
            {{ /items }}
        </tbody>
    </table>

</div>
