<div class="panel panel-default">
    <div class="panel-heading">
        {{ name }}
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{ #order.products }}
                <tr>
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        {{ quantity }}
                    </td>
                </tr>
                {{ /order.products }}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        Earn {{ order.orderCost() }}
    </div>
</div>
