<div class="panel panel-default">
    <div class="panel-heading">
        {{#l}}{{ name }}{{/l}}
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>{{#l}}Product{{/l}}</th>
                    <th>{{#l}}Quantity{{/l}}</th>
                </tr>
            </thead>
            <tbody>
                {{ #order.products }}
                <tr>
                    <td>
                        {{#l}}{{ name }}{{/l}}
                    </td>
                    <td>
                        {{ quantity }}
                    </td>
                </tr>
                {{ /order.products }}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{#l}}Earn{{/l}} {{ order.orderCost }}
    </div>
</div>
