<div id="factory-orders"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        {{#l}}{{ name }}{{/l}}
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            {{#l}}Your current order will cost you{{/l}} <strong id="factory-order-cost">0</strong>,
            {{#l}}and use{{/l}} <strong id="factory-order-capacity">0</strong> {{#l}}capacity{{/l}}!
        </div>
        <form name="newFactoryOrder" action="">
            {{ #products }}
                <div class="form-group">
                    <label for="{{ name }}">{{#l}}{{ name }}{{/l}}</label>
                    <input type="number" class="form-control" id="{{ name }}" name="{{ name }}" value="0" />
                    <small>{{#l}}Unit price for this item is{{/l}} {{ values.price }}, {{#l}}and unit size is{{/l}} {{ values.size }}.</small>
                </div>
            {{ /products }}
            <button type="submit" class="btn btn-success pull-right">{{#l}}Place order{{/l}}</button>
        </form>
    </div>
</div>
