<div class="panel panel-default">
    <div class="panel-heading">
        A new order, still <span class="days-countdown factory-order">{{ time }}</span> days out!
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {{ #products }}
            <tr>
                <td>
                    {{ name }}
                </td>
                <td>
                    {{ quantity }}
                </td>
            </tr>
            {{ /products }}
            </tbody>
        </table>
    </div>
</div>
