<div class="panel panel-default">
    <div class="panel-heading">
        {{#l}}A new order, still{{/l}} <span class="days-countdown factory-order">{{ time }}</span> {{#l}}days out{{/l}}!
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>{{#l}}Product{{/l}}</th>
                    <th>{{#l}}Quantity{{/l}}</th>
                </tr>
            </thead>
            <tbody>
            {{ #products }}
            <tr>
                <td>
                    {{#l}}{{ name }}{{/l}}
                </td>
                <td>
                    {{ quantity }}
                </td>
            </tr>
            {{ /products }}
            </tbody>
        </table>
    </div>
</div>
