<div class="container-fluid">

    <ul class="nav navbar-nav">
        <li id="sidebar-left-toggle">
            <a>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
                Menu
            </a>
        </li>
    </ul>

    <div class="btn-group navbar-left">
        <button type="button" class="timer btn btn-default navbar-btn active">
            <span class="glyphicon glyphicon-pause"></span>
        </button>
        <button type="button" class="timer btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-play"></span>
        </button>
    </div>

    <p class="navbar-text">
        {{#l}}Day{{/l}}
        <strong class="timer-days">0</strong>,
        {{#l}}hour{{/l}}
        <strong class="timer-hours">0</strong>
        <span class="badge season">{{#l}}{{ season }}{{/l}}</span>
    </p>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown help-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
            <ul class="dropdown-menu">
                <li id="help-factory"><a href="#">Factory</a></li>
                <li id="help-statusbar"><a href="#">Statusbar</a></li>
            </ul>
        </li>
        <li id="sidebar-right-toggle">
            <a>
                <span class="glyphicon glyphicon-time"></span>
                History
            </a>
        </li>
    </ul>

    <div class="nav navbar-nav navbar-right statuses">
        <p class="navbar-text">
            <strong>{{#l}}Level{{/l}}</strong>
            <span id="level">{{ level }}</span>
        </p>
        <p class="navbar-text">
            <strong>{{#l}}Satisfaction{{/l}}</strong>
            <span id="satisfaction">{{ satisfaction }}</span>%
        </p>
        <p class="navbar-text">
            <strong>{{#l}}Money{{/l}}</strong>
            <span id="money">{{ money }}</span>
        </p>
    </div>

</div>
