<form class="navbar-form navbar-left" name="language">
    <div class="form-group">
        <label class="sr-only" for="language">Select language</label>
        <select class="form-control" id="language" name="language">
            {{ #languages }}
                <option value="{{ iso }}" {{ #active }} selected {{ /active }}>
                    {{ name }}
                </option>
            {{ /languages}}
        </select>
    </div>
</form>
<span class="navbar-text">
    <strong>{{#l}}Money{{/l}}</strong>
    <span id="money">{{ money }}</span>
</span>
