/*
    General
 */
html, body, .wrapper {
    height: 100%;
}

body {
    padding-top: 70px;
}

.wrapper {
    /* initial state */
    opacity: .3;
}

/*
    Sidebar
 */
.sidebar {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: white;

    /* initial state */
    width: 250px;
}

.sidebar-left {
    left: 0;
    border-right: 1px solid #ccc;
}

.sidebar-right {
    right: 0;
    border-left: 1px solid #ccc;

    /* initial state */
    width: 0;
}

/*
    Top bar
 */
#top-bar ul li {
    cursor: pointer;
}

/*
    Container styling
*/
.container-view {
    padding: 0;
}

.container-progress-bar {
    margin-bottom: 0;
}

.product-store {
    padding: 5px;
    min-height: 250px;
}

/*
    Progress bar styling
*/
.progress {
    border-radius: 0;
    height: 5px;
}
