/*
    General
 */
html, body, .wrapper {
    height: 100%;
}

body {
    padding-top: 70px;
}

.wrapper {
    /* initial state */
    opacity: .3;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-5 {
    padding: 5px;
}

.no-border-radius {
    border-radius: 0 !important;
}

.panel-default .panel-heading {
    background: #f8f8f8;
}

.make-scrollable {
    max-height: 80vh;
    overflow-y: scroll;
}

/*
    Sidebar
 */
.sidebar {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: white;

    /* initial state */
    width: 250px;
}

.sidebar-left {
    left: 0;
    border-right: 1px solid #ccc;
}

.sidebar-right {
    right: 0;
    border-left: 1px solid #ccc;

    /* initial state */
    width: 0;
}

/*
    Top bar
 */
#top-bar ul li {
    cursor: pointer;
}

/*
    Container styling
*/
.container-view {
    padding: 0;
}

.product-store {
    min-height: 250px;
}

.image {
    transition: all 0.3s ease-out;

    position: relative;
    display: inline-block;
}

.image:hover {
    transform: scale(1.2, 1.2);
}

.overlay {
    position: absolute;
    border-radius: 50%;
}

.quantity-overlay {
    left: 24px;
    top: 24px;

    width: 24px;
    height: 24px;
    padding: 2px 0;

    background: #f5f5f5;
    opacity: .7;
}

.perishable-overlay {
    left: 2px;
    top: 2px;

    height: 46px;
    width: 46px;

    opacity: .15;
}

.middle {
    position: absolute;

    width: 50%;
    height: 50%;

    left: 25%;
    top: 25%;
}

/*
    Progress bar styling
*/
.progress {
    height: 5px;
}

.container-view .progress {
    border-radius: 4px 4px 0 0;
}

.factory-order .progress {
    border-radius: 0 4px 0 0;
}

/*
    Factory and factory orders
*/
.factory,
.factory-order {
    border-radius: 0 4px 4px 0;
}
