.sidebar {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    /* initial state */
    width: 250px;
}

.sidebar-left {
    left: 0;
    border-right: 1px solid #ccc;
}

.sidebar-right {
    right: 0;
    border-left: 1px solid #ccc;
    width: 0;
}

html, body, .wrapper {
    height: 100%;
}

.wrapper {
    transition: margin .5s;

    /* initial state */
    opacity: .3;
    margin-left: 250px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
}
