<div class="col-md-12">
    <h3>{{#l}}Menu{{/l}}</h3>
    <form name="language">
        <div class="form-group">
            <label for="language">{{#l}}Select language{{/l}}</label>
            <select class="form-control" id="language" name="language">
                {{ #languages }}
                <option value="{{ iso }}" {{ #active }} selected {{
                /active }}>
                {{ name }}
                </option>
                {{ /languages}}
            </select>
        </div>
    </form>
</div>

<div class="col-md-12 padding-left-right-15">
    <div class="thumbnail">
        <img class="img-responsive" src="src/assets/img/logos/dinalog.jpg" alt="Dutch Institute for Advanced Logistics">
    </div>
</div>

<div class="col-md-12 padding-left-right-15">
    <div class="thumbnail">
        <img class="img-responsive" src="src/assets/img/logos/university-of-groningen.jpg" alt="University of Groningen">
    </div>
</div>

<div class="col-md-12">
    <p class="small">
        {{#l}}Proudly created by{{/l}} Niels Wouda, Luc Pol, Jan Willem Veeningen, Lisa van Casteren, {{#l}}and{{/l}} Sargis Adikyan.
    </p>
    <p class="small">
        {{#l}}See the{{/l}}
        <a target="_blank" href="https://github.com/LCfP/Serious-Game-for-Kids">repository</a>
        {{#l}}for the code and attributions{{/l}}.
    </p>
</div>

<div class="col-md-12">
    <p class="small">
        {{#l}}Version{{/l}} 1.1, 09/08/2017.
    </p>
</div>
